NODE_ENV=development
HOST=0.0.0.0
PORT=4000
CORS_ORIGIN=http://localhost:5173

SUPABASE_URL=https://fbzordyjxbkphvoevaih.supabase.co
SUPABASE_ANON_KEY=sb_publishable_qAlLlWdu6eYkiXuZUlU_qQ_5vbFh959
SUPABASE_SERVICE_ROLE_KEY=YOUR-SUPABASE-SERVICE-ROLE-KEY

IMAGE_STORAGE_DRIVER=r2
R2_ACCOUNT_ID=3eee37a4c6541a72ae598eb1780f499f
R2_ACCESS_KEY_ID=fbe205bc2867372ad71967d7915b6fba
R2_SECRET_ACCESS_KEY=2686f05e685dc61fd2d3862f6e8a38b29689b90386b98ae74501e6c0a4a6ded9
R2_BUCKET_NAME=qrmenu
R2_PUBLIC_BASE_URL=https://pub-68f34d49e9bf4af7ba5b116c31887efa.r2.dev
