@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
    text-rendering: optimizeLegibility;
  }

  body {
    font-feature-settings: "cv11", "ss01", "ss03";
  }

  ::selection {
    background: #18181b;
    color: #ffffff;
  }
}

@layer utilities {
  .no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
